[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/uWebSockets"]
	path = vendor/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "vendor/ixwebsocket"]
	path = vendor/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket
